<% content_for :styles do %>
<%= stylesheet_link_tag "crud" %>
<% end %>


<section class="row">
<div class="large-12 columns ">
  <%= link_to "New Asset", new_asset_path(@asset), :class => "a-button createButton" %>
</div>
<div class="large-12 columns">
	<h1>All Assets</h1>
</div>

<div class="large-12 columns">
	<table width="100%">
  <thead>
    <th>
      &nbsp;
    </th>
    <th width="30%">
      Name
    </th>
    <th width="15%">
      Status
    </th>
    <th width="15%">
      Shared?
    </th>
    <th width="20%">
      Borrower
    </th>
    <th width="20%">
      Modified
    </th>
  </thead>

  <tbody>
  <% @assets.each do |asset| %>
    <tr class='asset-row' data-asset-name='<%= asset.name %>'>
      <td>
        <input name="print_asset_tag" type="checkbox" value="<%= asset.id %>" class="print-asset-tag-checkbox" />
      </td>
      <td>
        <%= link_to asset.name, admin_asset_path(asset) %>
      </td>
      <td>
        <%= asset.status %>
      </td>
      <td>
        <%= asset.shared_resource? %>
      </td>
      <td> 
        <% if asset.borrower %>
          <%= link_to asset.borrower.name, user_path(asset.borrower)  %>
        <% end %>
      </td>
      <td>
        <%= asset.updated_at %>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>

<a href="#" class="a-button print-selected-tags">
  Print ID tags for selected assets
</a> 


</div>
</section>

<div id="printTagModal" class="reveal-modal large">
  <h2>Print Options</h2>
  <p class="lead">Select the areas on the sheet on which to print the labels.</p>

  <div class="gridster" style="width: 500px; height: 500px;">
    <ul>
      <li data-row="1" data-col="1" data-sizex="2" data-sizey="1" class="asset-tag-1"></li>
      <li data-row="2" data-col="1" data-sizex="2" data-sizey="1" class="asset-tag-3"></li>
      <li data-row="3" data-col="1" data-sizex="2" data-sizey="1" class="asset-tag-5"></li>
      <li data-row="4" data-col="1" data-sizex="2" data-sizey="1" class="asset-tag-7"></li>
      <li data-row="5" data-col="1" data-sizex="2" data-sizey="1" class="asset-tag-8"></li>

      <li data-row="1" data-col="2" data-sizex="2" data-sizey="1" class="asset-tag-2"></li>
      <li data-row="2" data-col="2" data-sizex="2" data-sizey="1" class="asset-tag-4"></li>
      <li data-row="3" data-col="2" data-sizex="2" data-sizey="1" class="asset-tag-6"></li>
      <li data-row="4" data-col="2" data-sizex="2" data-sizey="1" class="asset-tag-8"></li>
      <li data-row="5" data-col="2" data-sizex="2" data-sizey="1" class="asset-tag-10"></li>
    </ul>
  </div>

  <a href="#" class="button print-tags">
    Print
  </a>

  <a class="close-reveal-modal">&#215;</a>
</div>

<%= stylesheet_link_tag 'jquery.gridster' %>
