<% content_for :styles do %>
<%= stylesheet_link_tag "crud" %>
<% end %>


<section class="row">

<div class="large-12 colums">

<h1><%= @user.name %></h1>

<p class="value"><%= @user.email %></p>

<div>
  <% if !@borrowed_assets.empty? %>
    <h2>My Borrowed Assets</h2>
    <%= render partial: "assets/my_assets", locals: { my_shared_assets: @borrowed_assets } %>
  <% end %>
</div>

<div>
  <% if !@assigned_assets.empty? %>
    <h2>My Assigned Assets</h2>
    <%= render partial: "assets/my_assets", locals: { my_shared_assets: @assigned_assets } %>
  <% end %>
</div>

<div>
  <h2>Asset History</h2>
  <%= render partial: "asset_logs/asset_logs_table", locals: { asset_logs: @asset_logs } %>
</div>

<hr>

<%= link_to "Back to index", users_path, :class =>"a-button" %>

<%= link_to "Edit", edit_user_path(@user), :class =>"a-button" %>

</div>

</section>

