<nav class="top-bar">

<div class="row">
  <section class="large-12">

  <ul class="title-area">
    <!-- Title Area -->
    <li class="name">
      <h1 class="main-logo">
      <%= link_to "Majordomo", root_url %>
      </h1>
    </li>
    <!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
    <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
  </ul>

  <section class="top-bar-section">
    <!-- Left Nav Section -->

    <% if user_signed_in? -%>
    <ul class="left">
      <li class="nav-link active"><%= link_to "View tracked Assets", assets_path %></li>
      <li class="nav-link"><%= link_to "+ Create new Asset", new_asset_path(@asset) %></li>

    </ul>
    <% end %>

    <!-- Right Nav Section -->
    <ul class="right">

     <li class="has-form nav-link">
       <% if user_signed_in? -%>
         <%= link_to "Sign out", destroy_user_session_url, method: :delete %>
       <% else -%>
         <%= link_to "Sign in", user_omniauth_authorize_url(provider: "google") %>
       <% end -%>
     </li>

    </ul>
  </section>

  </section>

  </div>

</nav>
