<div class="navigation_wrapper">

<section class="row">

<div class="primary-nav small-6 large-2 columns">
	<a href="/"><h1 class="logo">Majordomo</h1></a>

</div> 

<nav class="small-12 large-10 columns">
 <%= link_to "Find Assets", admin_root_path, :class => "small-button" %> 
  <% if current_user.admin? %>
    <%= link_to "Asset Log", asset_logs_path, :class => "small-button" %> 
    <%= link_to "Users", users_path, :class => "small-button" %> 
  <% else %>
    <%= link_to "My Assets", user_path(current_user), :class => "small-button" %> 
  <% end %>
 <%= link_to "Sign out", destroy_user_session_url, method: :delete, :class => "a-button" %>


</nav>

</section>

</div>
