<% if asset.available? %>
  <form action="<%= borrow_asset_path(asset) %>" method="POST">
    <input type="submit" value="Borrow" class="a-button marginRight" />

    This asset is currently available to borrow! 
    <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>"/>
    <br />


  </form>
<% else %>
  <form action="<%= return_asset_path(asset) %>" method="POST">
    <input type="submit" value="Return" class="a-button marginRight" />
    Borrowed by: <%= asset.borrower.try(:name) %>
    <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>"/>
    <br />
    <br />
  </form>
<% end %>
