<section class="row">
<div class="large-12 columns">

  <h1>Borrow Asset: <%= @asset.name %></h1>


  <span class="label-value">Description:</span>
  <p class="value"><%= @asset.description %></p>

  <span class="label-value">Asset status:</span>
  <p class="value"><%= @asset.status %></p>




<hr>

</div>
</section>

<section class="row">

<div class="large-12 columns">
  <% if @asset.available? %>
    <form action="<%= borrow_asset_path(@asset) %>" method="POST">
        <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>"/>

      <hr>

      <input type="submit" value="Borrow!" class="a-button" />

    </form>
  <% else %>
    <label>
      Borrowed by: <%= @asset.borrower.try(:name) %>
    </label>

    <form action="<%= return_asset_path(@asset) %>" method="POST">
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>"/>

      <hr>


      <input type="submit" value="Return!" class="a-button" />
    </form>
  <% end %>
</div>
</section>