<section class="row">
<div class="large-12 columns">

  <h1>Borrow Asset: <%= @asset.name %></h1>


  <span class="label-value">Description:</span>
  <p class="value"><%= @asset.description %></p>

  <span class="label-value">Asset status:</span>
  <p class="value"><%= @asset.status %></p>




<hr>

</div>
</section>

<section class="row">

<div class="large-12 columns">
  <% if @asset.available? %>
    <form action="<%= borrow_asset_path(@asset) %>" method="POST">
        <label>Enter your name:
        <input type="text" name="asset[borrowed_id]" />
        </label>

      <hr>

      <input type="submit" value="Borrow!" class="button" />
    </form>
  <% else %>
    <label>
      Borrowed by: <%= @asset.borrower_id %>
    </label>

    <form action="<%= return_asset_path(@asset) %>" method="POST">

      <hr>


      <input type="submit" value="Return!" class="button" />
    </form>
  <% end %>
</div>
</section>







