<h1>Borrow Asset: <%= @asset.name %></h1>

<label>
  Description: <%= @asset.description %>
</label>

<label>
  Status: <%= @asset.status %>
</label>

<br />
<br />


<% if @asset.available? %>
  <%= form_tag borrow_asset_path(@asset), method: :post do %>
    <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>"/>
    <input type="submit" value="Borrow!" />
  <% end %>
<% else %>
  <label>
    Borrowed by: <%= @asset.borrower.try(:name) %>
  </label>

  <%= form_tag return_asset_path(@asset), method: :post do %>
    <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>"/>
    <input type="submit" value="Return!" />
  <% end %>
<% end %>
