<section class="row">

<div class="large-12 colums">

<h1>Asset: <%= @asset.name %></h1>


<span class="label-value">UUID:</span>
<p class="value"><%= @asset.uuid %></p>

<br />
<br />
<%= link_to "Borrowed Status", borrow_asset_url(@asset) %>
<br />
<br />

<span class="label-value">Description:</span>
<p class="value"><%= @asset.description %></p>

<span class="label-value">Notes:</span>
<p class="value"><%= @asset.notes %></p>

<span class="label-value">Is shared resource:</span>
<p class="value"><%= @asset.shared_resource? %></p>

<hr>

<%= link_to "Back to index", assets_path, :class =>"button" %>

<%= link_to "Edit", edit_asset_path(@asset), :class =>"button" %>


<%= link_to "Print QR Code Tag", qrcode_asset_path(@asset, format: 'pdf'), :class =>"button" %>


</div>

</section>

