<!DOCTYPE html>
<!-- paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/ -->
<!--[if lt IE 7 ]> <html class="ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]>    <html class="ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]>    <html class="ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--> <html lang="en"> <!--<![endif]-->

  <head>
    <%= render "shared/metadata" -%>
    <%= render "shared/stylesheet" -%>
    <%= javascript_include_tag "vendor/custom.modernizr" %>
  </head>

  <body>


  <%= render "shared/nav-home" -%>

  <% if flash[:notice].present? -%>
    <div id="notice-msg">
    <%= flash[:notice] -%>
    </div>
  <% end -%>

  <% if flash[:alert].present? -%>
    <div id="alert-msg">
    <%= flash[:alert] -%>
    </div>
  <% end -%>    


  <%= yield %>


  <%= javascript_include_tag "application" %>

  </body>
</html>
